.about-me {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.about-me h2 {
  font-size: var(--font-size-2);
  margin-bottom: var(--bottom-margin);
  text-align: center;
  color: var(--primary-color);
}

.about-me p {
  font-size: var(--font-size-3);
  line-height: var(--line-height);
  padding: 0.4rem;
}

.show-credentials {
  display: flex;
  margin: .5rem;
}

.diploma {
  padding: 5px;
  width: 54px;
  height: 54px;
  margin: 5px;
  animation-name: tada;
  animation-duration: 2.5s;
  animation-iteration-count: 100;
}
