.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero-img {
  padding: 1rem;
  width: 50%;
  height: auto;
}

.bio {
  width: 30rem;
  padding: 0.625rem;
}

.bio-title {
  font-size: var(--font-size-1);
  margin-bottom: var(--bottom-margin);
}

.bio-subtitle {
  font-size: var(--font-size-3);
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.bio-title .waving {
  animation: wobble 2.5s 10;
  animation-delay: 0.5s;
  display: inline-block;
}

.waving:hover {
  animation-name: wobble;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
