.projects-container {
  text-align: center;
  width: 100%;
  padding-right: .5rem;
  padding-left: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.projects {
  font-size: var(--font-size-2);
  font-weight: var(--bold-font);
  margin-bottom: var(--bottom-margin-2);
  color: var(--primary-color);
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Two columns */
  grid-gap: .5rem; /* Gap between grid items */
}

.grid-item {
  padding: 2rem 0;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
}

.project-wrapper-title {
  font-size: var(--font-size-3);
  font-weight: var(--bold-font);
  margin-bottom: var(--bottom-margin);
}

.project-wrapper-text {
  font-size: var(--font-size-3);
  margin-bottom: var(--bottom-margin);
}

.project-img {
  max-width: 65%;
}
