.skills {
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-top: var(--top-margin);
}

.skill-header {
  font-size: var(--font-size-2);
  margin-bottom: var(--bottom-margin-2);
  color: var(--primary-color);
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
